.about-cont {
    top: 250px;
    display: flex;
    flex-direction: column;
    min-height: 725px;
    margin: 90px 50px 30px 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.our-mission {
    display: flex;
    flex-direction: column;
    /* background-color:aqua; */
    min-height: 100px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size:15px;
}
.our-mission h1{
    font-size: 30px;
}
.mission-about p {
    text-align: center;
    padding: 10px 20px 0px 20px;
}

.our-site {
    font-size:15px;
    display: flex;
    flex-direction: column;
    /* background-color:darkcyan; */
    min-height: 100px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.site-about p {
    text-align: justify;
    padding: 10px 20px 0px 20px;
}

.our-team {
    font-size:20px;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    min-height: 100px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.teammembers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    padding: 10px 20px 0px 20px;
}

.memb-img {
    height: 250px;
    width: 200px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-us-form {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    gap: 20px;
}

.contact-us-form a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:600px) {
    .about-cont {
        margin: 90px 20px 20px 20px;
    }
    .mission-topic h1{
        font-size: 24px;
    }
    .site-topic h1{
        font-size: 24px;
    }
    .team-topic h1{
        font-size: 24px;
    }
    .mission-about p {
        font-size: 14px;
        text-align: center;
        padding: 8px 15px 0px 15px;
    }
    .site-about p {
        font-size: 14px;
        text-align: center;
        padding: 8px 15px 0px 15px;
    }
}

@media screen and (max-width:400px) {
    .about-cont {
        margin: 90px 10px 10px 10px;
    }
    .mission-topic h1{
        font-size: 16px;
    }
    .site-topic h1{
        font-size: 16px;
    }
    .team-topic h1{
        font-size: 16px;
    }
    .mission-about p {
        font-size: 12px;
        text-align: center;
        padding: 0;
    }
    .site-about p {
        font-size: 12px;
        text-align: center;
        padding: 0;
    }
}

