.sub-cont-C1 {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(247,247,247);
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
}

.sub-cont-C2 {
    margin-top: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap:0.5rem;
    background-color:  rgb(247,247,247);
    min-height: 200px;
    border-radius: 10px;
}

.search-bar-C {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
}

.searching-C {
    display: flex;
    flex-direction: row;
    /* gap: 0rem; */
}

.searching-C select {
    padding: 6px;
    /* margin: 8px 0px 8px 8px; */
    height: 38px;
    border: none;
    /* border-radius: 10px 0px 0px 10px; */
    border: 1px solid;
}

.filter-btn-C {
    padding: 5px;
    height: 38px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid;
    border-right: 0;
    margin-right: 0px;
    background-color: white;
    cursor: pointer;
}

.filter-btn-C:hover {
    background-color: black;
    color: white;
    border: 1px 0px 1px 1px;
    border-color: black;
}


.searching-C input[type='text']{
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 0px;
    border: 4px solid #70BFBA;
    width: 800px;
}

/* 
.searching-C input[type=text] {
    padding: 6px;
    height: 38px;
    margin: 8px 0px 8px 8px;
    font-size: 16px;
    border: none;
    border: 1px solid;
    border-left: 0px;
} */

.searching-C button {
    border: 1px solid;
    height: 38px;
    border-left: 0px;
    /* float: right; */
    padding: 6px 10px;
    /* margin: 8px 8px 8px 0px; */
    background: #ddd;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

.searching-C button:hover {
    background: #ccc;
}

.searching-C img {
    height:15px;
    width:15px;
}

.new-books{
    /* padding: 6px; */
    margin: 8px;
}

.Content-books{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content0-C {
    /* background: lightblue; */
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.content1-C {
    /* background: lightblue; */
    /* box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5); */
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid; */
}

.content2-C {
    /* background: lightblue; */
    /* box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5); */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.content2-C p {
    text-align: justify;
}

.view-fav {
    /* background: lightblue; */
    /* box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5); */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    /* border: 1px solid; */
}

.view-fav img {
    height: 35px;
    width: 35px;
}

.view-fav img:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.content-img-C {
    width: 155px;
    height: 220px;
    float: left;
    margin-right: 20px;
}

.vw-btn-C {
    float: right;
    width: 132px;
    height: 36px;
    background-color: rgb(1, 36, 33);
    border-color: white;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    transition: .5s;
    /* margin-left: 8px; */
    margin-right: 8px;
    /* margin-bottom: 0; */
    /* margin-top: 120px; */
}

.vw-btn-C:hover {
    background: #fff;
    color: black;
    /* border: none; */
}

.view-fav i {
    /* width: 50px;
    height: 50px; */
    font-size: 15px;
    /* color: white; */
}

.view-fav i:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .5s;
}

.book-button-C {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 50px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    background-color:  #919191;
}

.book-button-C-after-fav {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 50px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    color: pink;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    background-color:  red;
}

.book-button-C:hover {
    opacity: 0.8;
    background-color: #009D94;
}

@media screen and (max-width:800px) { 
    .sub-cont-C1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width:600px) {    
    .searching-C select {
        width: 70px;
    }
    
    .searching-C input[type=text] {
        width: 120px;
    }
    
    .searching-C button {
        width: 40px;
    }

    .Content-books h1, .content0-C h1{
        font-size: 28px;
    }

    .content1-C {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width:400px) {
    .searching-C select {
        width: 65px;
        height: 28px;
    }
    
    .searching-C input[type=text] {
        width: 70px;
        height: 28px;
    }
    
    .searching-C button {
        width: 40px;
        height: 28px;
        padding: 3px 2px;
    }

    .filter-btn-C {
        height: 28px;
    }

    .Content-books h1, .content0-C h1{
        font-size: 20px;
    }

    .vw-btn-C {
        width: 95px;
        height: 36px;
    }
}