.my-cart {
    padding: 20px;
    background-color:  #E3F2FD;
    right: 0px;
    min-height: 500px;
}

.cart-topic h2 {
    background-color: #81cec9;
    color: black;
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.mycart {
    width: 70%;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* display: table; Add this line */
}

.mycart table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    /* border: 2px solid #333; */
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mycart th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}
.mycart td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.mycart tr {
    background-color: white;
    height: 30px;
}

.tb-cart1 tr:hover {
    background-color: #f2f2f2;;
}

/* Change the width of specific columns */
.mycart th:nth-child(1), .mycart td:nth-child(1) {
    width: 50%; /* Adjust the width as needed */
}

.mycart th:nth-child(2), .mycart td:nth-child(2) {
    width: 10%; /* Adjust the width as needed */
}

.mycart th:nth-child(3), .mycart td:nth-child(3) {
    width: 10%; /* Adjust the width as needed */
}

.mycart th:nth-child(4), .mycart td:nth-child(4) {
    width: 10%; /* Adjust the width as needed */
}

.mycart th:nth-child(5), .mycart td:nth-child(5) {
    width: 20%; /* Adjust the width as needed */
}

.cart-search {
    float: right;
}

.cart-search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tb-cart2 {
    display: none;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.tb-cart2 td:nth-child(1) {
    width: 100%; /* Adjust the width as needed */
}

.tb-cart2 td:nth-child(2) {
    width: 100%; /* Adjust the width as needed */
}

.tb-cart2 td:hover {
    background-color: #f2f2f2;;
}

@media screen and (max-width:810px) {
    .tb-cart1 {
        display: none;
    }

    .tb-cart2 {
        display: block;
    }
}

@media screen and (max-width:600px) {
    .cart-topic h2 {
        font-size: 18px;
    }

    .mycart th {
        font-size: 12px;
    }
    .mycart td {
        font-size: 12px;
    }

    .cart-search input[type=text] {
        /* background-color: black; */
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    .cart-topic h2 {
        font-size: 14px;
    }

    .mycart th {
        font-size: 10px;
    }
    .mycart td {
        font-size: 10px;
    }

    .cart-search input[type=text] {
        /* background-color: black; */
        font-size: 8px;
    }
}