.checkout-main {
    top: 250px;
    min-height: 325px;
    margin: 90px 10px 10px 10px;
    background-color: #CACACA;
    padding: 10px 290px 10px 290px;
    border-radius: 10px;
}
.submit {
    width: 100px;
    height: 40px;
    background-color: #009D94;
    border-radius: 5px;
    margin-top: 0;
    border: none;
    color:white;
}

.submit:hover {
    background-color: #70BFBA;
    border-radius: 5px;
    margin-top: 0;
    border: none;
}


.check-form-main {
    /* background-color: yellow; */
    min-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    /* padding: 10px; */
    gap:0.5rem;
}

.billing-address {
    /* background-color: aqua; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.payment {
    /* background-color: aquamarine; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    
}

.col-50 {
   
    padding: 2px;
}

.billing-address input[type=text], .payment input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
.billing-address label, .payment label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 2px;
    /* padding:; */
    font-size: 30px;
}

.btn-checkout {
    width: 100%;
    background-color: #14ee1f;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: .5s;
}

.btn-checkout:hover {
    transform: scale(1.01);
    background-color: wheat;
    border: 3px solid #14ee1f;
}


@media screen and (max-width:1000px) {
    .checkout-main {
        padding: 10px 90px 10px 90px;
    }
}

@media screen and (max-width:600px) {
    .checkout-main {
        padding: 10px 20px 10px 20px;
    }

    .billing-address input[type=text], .payment input[type=text] {
        margin-bottom: 8px;
        padding: 5px;
    }
      
    .billing-address label, .payment label {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .billing-address h3, .payment h3 {
        font-size: 18px;
    }
}
@media screen and (max-width:450px) {
    .check-form-main{ 
        flex-direction: column;
    }
    .billing-address, .payment {
        width: 100%;
    }
}
 .modal-content {
    background-color: #fefefe;
    
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.onlineBanking-form-popup,
        
        .COD-form-popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
            align-items: center;
            justify-content: center;
        }

        /* .onlineBanking-form-popup .modal-content,
        
        .COD-form-popup .modal-content {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        } */
        .flex-parent-element {
         
            margin:70px;
            display: flex;
          }
          .flex-child-element.magenta:nth-child(1) {
            padding: 40px;
            flex: 1;
            border-radius: 9px;
            background-color: white; /* Remove or change this line to your desired background color */
            margin-top: 20px;
            width:40%;
        }
          .flex-child-element.magenta:nth-child(2) {
            padding: 4px;
            flex: 1;
            border-radius: 9px;
            background-color: transparent; /* Remove or change this line to your desired background color */
            margin-top: 20px;
            width:60%;
        }
          
          .flex-child-element:first-child {
            margin-right: 20px;
          }
       
          .order{
            display: flex;
           
        }
        .payment-details{
            background-color: white;
            padding:20px;
            border-radius: 9px;
           
        }
        .billing-details{
            background-color:#70BFBA;
            padding:20px;
            border-radius: 9px;
            margin-top:20px;
        }

        .cost{
            display: flex;
            justify-content: space-between;
            width:100%;
            
        }
        .cost1{
            display: flex;
            justify-content: space-between;
            width:100%;
          
        }
        .col2{
            justify-content:space-evenly;
            padding-left: 20px;
            margin-left: 10px;
        }
        .subcost{
            padding:20px;
           
        }
        .subcost2{
            padding:20px;
            margin-left: 80px;
        }

        .flex-child-element magenta tr{
            border-bottom: black;

        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            border-bottom: 1px solid #ddd; 
            padding: 10px; 
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2; 
        }
        
    
        td:not(:last-child) {
            margin-right: 10px; 
        }
        .close {
            float: right;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        @media screen and (max-width: 600px) {
            /* Center the flex parent element */
            .flex-parent-element {
                /* margin: 20px auto;  */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .flex-child-element.magenta:nth-child(2) {
                width: 100%;
            }
            .flex-child-element.magenta {
                width: 100%; 
                margin-top: 10px;
            }
        
            .order {
                flex-direction: column;
                width: 100%;
            }
        
            .payment-details,
            .billing-details {
                margin-top: 20px;
                width: 100%;
            }
            .payment-details h2{
                font-size:20px;
            }
            .cost1 {
                /* padding: 20px; */
                margin-top: 20px;
                /* border-radius: 9px; */
                /* background-color: #70BFBA; */
                width: 100%; 
                margin: 10px auto; 
            }
            .subcost2 {
                padding: 3px;
                /* margin-left: 80px; */
            }
            .subcost {
                padding: 3px;
            }
            .col2 {
                display: flex;
                flex-wrap: wrap; 
                justify-content: space-evenly; 
            }
        }
        
              
