.donate-detail, .event-details {
    top: 250px;
    min-height: 725px;
    margin: 90px 10px 10px 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.donate-main, .event-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.donate-img-div, .event-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.event-img-div {
    width: 30%;
}

.req-books-details-D, .req-books-details-E {
    /* background-color: aquamarine; */
    padding: 5px 15px 5px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.req-books-details-E {
    width: 30%;
    height: 350px;
    border-radius: 30px;
}

.donate-des-div, .event-des-div {
    text-align: justify;
    /* background-color: aquamarine; */
    padding: 15px 15px 5px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-des-div {
    width: 30%;
    height: 350px;
    border-radius: 30px;
}

.donate-btn-div, .event-des-div{
    /* background-color: aquamarine; */
    /* height: fit-content; */
    padding: 15px;
}

.req-books-details-D span, .req-books-details-E span{
    font-size: 18px;
    font-weight: 400;
}

.donate-img, .event-img {
    height: 350px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donate-chat-btn, .event-chat-btn {
    float: right;
    width: 182px;
    height: 36px;
    background-color: rgb(1, 36, 33);
    border-color: white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: .5s;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-btn-div .hidden {
    display: none;
}

.donate-chat-btn:hover, .event-chat-btn:hover {
    background: #fff;
    color: black;
    border: none;
}

.event-img-div-sub {
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.event-img-sub {
    height: 250px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/* body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
} */

.cd-poster-container {
    position: relative;
    width: 70%;
    max-width: 1000px;
    margin-top: 10px;
    height: 400px;
    border: 2px solid #ffffff;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.cd-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cd-poster-container:hover {
    transform: scale(1.05);
}

.cd-info-container {
    display: flex;
    justify-content: space-between;
    width: 71%;
    margin-top: 20px;
}

.cd-book-categories-container,
.cd-event-description-container {
    width: calc(50% - 10px);
    height: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #70bfba;
    margin: 0 10px;
}

.cd-book-categories-container {
    margin-right: 10px;
}

.cd-book-categories {
    font-size: 14px;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.cd-book-categories li {
    margin-bottom: 5px;
}

.cd-event-description {
    font-size: 14px;
    width: 100%;
    height: 90px;
}

.cd-event-description textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

.cd-event-description-container p {
    font-size: 14px;
}

.cd-donate-button {
    margin-top: 20px;
    background-color: #009d94;
    width: 50%;
    margin-bottom: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cd-donate-button:hover {
    background-color: #007d75;
}

.cd-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    margin-top: 20px;
}

.cd-deadline {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(172, 98, 98);
    color: white;
    width: 12%;
    height: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd-deadline input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    margin-top: -2px;
    text-align: center;
}

.cd-view-icon {
    position: absolute;
    top: 15px;
    color: white;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.cd-view-icon .fa {
    color: #ffffff;
}

.cd-view-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width:1000px) {
    .event-main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .donate-main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .donate-img, .event-img {
        height: 300px;
        width: 240px;
    }

    .event-img-sub {
        height: 180px;
        width: 140px;
    }
}




