.donate-detail, .event-details {
    top: 250px;
    min-height: 725px;
    margin: 90px 10px 10px 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.donate-main, .event-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.donate-img-div, .event-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.event-img-div {
    width: 30%;
}

.req-books-details-D, .req-books-details-E {
    /* background-color: aquamarine; */
    padding: 5px 15px 5px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.req-books-details-E {
    width: 30%;
    height: 350px;
}

.donate-des-div, .event-des-div {
    text-align: justify;
    /* background-color: aquamarine; */
    padding: 15px 15px 5px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-des-div {
    width: 30%;
    height: 350px;
}

.donate-btn-div, .event-des-div{
    /* background-color: aquamarine; */
    /* height: fit-content; */
    padding: 15px;
}

.req-books-details-D span, .req-books-details-E span{
    font-size: 18px;
    font-weight: 400;
}

.donate-img, .event-img {
    height: 350px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donate-chat-btn, .event-chat-btn {
    float: right;
    width: 182px;
    height: 36px;
    background-color: rgb(1, 36, 33);
    border-color: white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: .5s;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-btn-div .hidden {
    display: none;
}

.donate-chat-btn:hover, .event-chat-btn:hover {
    background: #fff;
    color: black;
    border: none;
}

.event-img-div-sub {
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.event-img-sub {
    height: 250px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:1000px) {
    .event-main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .donate-main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .donate-img, .event-img {
        height: 300px;
        width: 240px;
    }

    .event-img-sub {
        height: 180px;
        width: 140px;
    }
}