.filter-category {
    position: absolute;
    top: 170px;
    right: 40px;
    height: 450px;
    width: 520px;
    background-color: white;
    opacity: 0.9;
    z-index: 50;
    border-radius: 10px;
    display:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-filter {
    display: block;
}

@media screen and (max-width:800px) {
    .filter-category {
        top: 210px;
    }
}

@media screen and (max-width:600px) {
    .filter-category {
        top: 200px;
        height: 650px;
        width: 320px;
    }
}

@media screen and (max-width:600px) {
    .filter-category {
        top: 180px;
        height: 850px;
        width: 200px;
    }
}