/*.filter-category {
    position: absolute;
    height: 450px;
    width: 520px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/




.filter-book-N a{

    text-decoration: none;
    color: black;
    padding: 15px;
}

/*a:hover{
    background-color: #70BFBA;
}*/

.filter-img{
    padding: 15px;
    width: 100px;
    height: 100px;
}

.filterBook-Nf{
    display: flex;
    flex-direction: row;
}

.filterBook-Nf:hover{
    background-color: #70BFBA;
}

.filterBook-Nf p{
    padding: 15px;
}

.filterBook-Nf p label{
    color: rgb(127, 127, 127);
}

/* .show-filter {
    display: block;
} */

.filter-book-N {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

.filter-book-N:hover{
    background-color: #70BFBA;
}
  
  .filter-img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .filter-book-N a {
    text-decoration: none;
    color: #333;
  }
  
  
  .filter-book-N p {
    margin: 5px 0;
  }

  .filter-book-N label{
    color: crimson;
  }

  .list-group{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  
  /* Add more styles as needed */
  

@media screen and (max-width:800px) {
    /* .filter-category {
        top: 250px;
    } */
}

@media screen and (max-width:600px) {
    /* .filter-category {
        top: 240px;
        height: 650px;
        width: 320px;
    } */
}

@media screen and (max-width:400px) {
    /* .filter-category {
        top: 220px;
        height: 850px;
        width: 200px;
    } */
}