/* Header */
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #02514C;
    align-items: center;
    z-index: 100;
}

.head img {
    height: 65px;
    width: 84px;
    margin-left: 8px;
    margin-right: 8px;
}



/* Navigation Bar */
.navig{
    display: flex;
    justify-content: flex-end;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



/* Login Icon */
.Login {
    width: 88px;
    height: 50px;
    background-color: transparent;
    border-color: #03FFF0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #03FFF0;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    margin-left: 8px;
    margin-right: 8px;
}

.Login:hover {
    background: #fff;
    color: black;
    border: none;
    transform: scale(1.1);
}


/* Drop Down Menu */
.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.sub-menu-wrap{
    position: absolute;
    top: 88%;
    right: 0%;
    width: 240px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 360px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
    /* backdrop-filter: blur(5px); */
    border-radius: 20px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    margin-top: 5px;
}

.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 15px; */
}


.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 10px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}/* Header */
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #02514C;
    align-items: center;
    z-index: 100;
}

.head img {
    height: 65px;
    width: 84px;
    margin-left: 8px;
    margin-right: 8px;
}



/* Navigation Bar */
.navig{
    display: flex;
    justify-content: flex-end;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



/* Login Icon */
.Login {
    width: 88px;
    height: 50px;
    background-color: transparent;
    border-color: #03FFF0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #03FFF0;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    margin-left: 8px;
    margin-right: 8px;
}

.Login:hover {
    background: #fff;
    color: black;
    border: none;
    transform: scale(1.1);
}


/* Drop Down Menu */
.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.sub-menu-wrap{
    position: absolute;
    top: 88%;
    right: 0%;
    width: 240px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 360px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
    /* backdrop-filter: blur(5px); */
    border-radius: 20px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    margin-top: 5px;
}

.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 15px; */
}


.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 10px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}