.my-orders {
    padding: 20px;
    background-color:  #E3F2FD;
    right: 0px;
    min-height: 500px;
}

.order-topic h2 {
    background-color: #81cec9;
    color: black;
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.myorder {
    width: 70%;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* display: table; Add this line */
}

.myorder table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    /* border: 2px solid #333; */
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myorder th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}
.myorder td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.myorder tr {
    background-color: white;
    height: 30px;
}

.myorder tr:hover {
    background-color: #f2f2f2;;
}

/* Change the width of specific columns */
.myorder th:nth-child(1), .myorder td:nth-child(1) {
    width: 50%; /* Adjust the width as needed */
}

.myorder th:nth-child(2), .myorder td:nth-child(2) {
    width: 20%; /* Adjust the width as needed */
}

.myorder th:nth-child(3), .myorder td:nth-child(3) {
    width: 30%; /* Adjust the width as needed */
}

.order-search {
    float: right;
}

.order-search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:600px) {
    .order-topic h2 {
        font-size: 18px;
    }

    .myorder th {
        font-size: 12px;
    }
    .myorder td {
        font-size: 12px;
    }

    .order-search input[type=text] {
        /* background-color: black; */
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    .order-topic h2 {
        font-size: 14px;
    }

    .myorder th {
        font-size: 10px;
    }
    .myorder td {
        font-size: 10px;
    }

    .order-search input[type=text] {
        /* background-color: black; */
        font-size: 8px;
    }
    
    .myorder td:nth-child(2), .myorder th:nth-child(2) {
        display: none;
    }

    .myorder table {
        margin-top: 0;
    }
}