/* Container for sidebar and content */
.container {
    /* position: relative; */
    margin-left: 250px;
    margin-top: 85px;
    /* display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 90px 10px 10px 10px;
    grid-auto-rows: minmax(725px,auto); */
    /* background-color: yellow; */
    /* grid-gap: 1rem; */
}

/* Main content styles */
.prof-content {
    padding: 20px;
    background-color: #F4F4F4;
    min-height: 600px;
    /* right: 0px; */
    
    /* min-height: 73.5vh; */ 
}

.prof-picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 8px 0px 8px;
}

.prof-picture span {
    font-weight: 300;
    margin-top: 10px;
}

.cnge {
    float: right;
}

.prof-content hr {
    font-weight: 600;
}

.prof-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.prof-picture h2 {
    margin-left: 20px;
}

.cnge-btn, .sbt-btn {
    width: 150px;
    height: 36px;
    background-color: wheat;
    border-color: black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    margin-left: 8px;
    margin-right: 8px;
}

.cnge-btn:hover, .sbt-btn:hover {
    background: #fff;
    color: black;
    border: none;
    transform: scale(1.1);
}

.my-details, .acc-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    margin: 10px 25px 10px 10px;
}

.my-details input[type="email"] , .my-details input[type="text"], .my-details input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

.post-details input[type="email"] , .post-details input[type="text"], .post-details input[type="number"], .post-details select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

.acc-details input[type="text"], .acc-details input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

.personal-details h2, .postal-details h2, .account-details h2{
    background-color: #81cec9;
    color: black;
    width: fit-content;
    padding: 3px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.post-details {
    display: grid;
    grid-template-areas: 
        "a a b b"
        "c c c c"
        "d e f g";
    grid-gap: 1rem;
    margin: 10px;
}

.F-Name {
    grid-area: a;
}

.L-Name {
    grid-area: b;
}

.Address {
    grid-area: c;
}

.prov {
    grid-area: d;
}

.dist {
    grid-area: e;
}

.city {
    grid-area: f;
}

.p-code {
    grid-area: g;
}

.sbt {
    margin-top: 10px;
    float: right;
    margin-bottom: 10px;
}

.div-cng-img-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Dark overlay color */
    z-index: 100;
}

.div-cng-img {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 230px;
    /* font-size: 14px; */
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 101;
}

.div-cng-img form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image-cng {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#imageInput {
    display: none;
}

#imageLabel {
    background-color: #3498db;
    /* font-size: 14px; */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#imageLabel:hover {
    background-color: #2980b9;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap:1rem;
    /* justify-content: space-between; */
    margin-top: 10px;
}

.buttons-container button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons-container button.save {
    background-color: #2ecc71;
    color: #fff;
}

.buttons-container button.cancel {
    background-color: #e74c3c;
    color: #fff;
}

.buttons-container button:hover {
    background-color: #555;
}


@media screen and (max-width:800px) {
    .container {
        margin-left: 200px;
        margin-top: 85px;
        /* background-color: yellow; */
    }

    .my-details, .acc-details {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        margin: 10px 25px 10px 10px;
    }

    .post-details {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin: 5px;
    }

    .prof-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 8px 8px 0px 8px;
    }
}

@media screen and (max-width:600px) {
    .container {
        margin-left: 60px;
        margin-top: 85px;
        /* background-color: yellow; */
    }

    .personal-details h2, .postal-details h2 .account-details h2 {
        font-size: 18px;
        padding: 2px;
    }

    .prof-picture img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .cnge-btn, .sbt-btn {
        width: 120px;
        height: 26px;
        font-size: 0.9em;
    }

    .prof-picture h2 {
        margin-left: 15px;
        font-size: 18px;
    }

    .div-cng-img {
        max-width: 220px;
    }

    .buttons-container {
        flex-direction: column;
        gap:0.5rem;
    }

    #imageLabel {
        padding: 4px;
        font-size: 14px;
    }

    /* .my-details {
        grid-gap: 0.8rem;
        margin: 8px 22px 8px 8px;
    } */
    
    /* .my-details input[type="email"] , .my-details input[type="text"], .my-details input[type="number"]{
        padding: 8px;
        margin-top: 8px;
        margin-left: 8px;
    }
    
    .post-details input[type="email"] , .post-details input[type="text"], .post-details input[type="number"]{
        padding: 8px;
        margin-top: 8px;
        margin-left: 8px;
    }
    
    .personal-details h2, .postal-details h2 {
        font-size: 18px;
    }
    
    .post-details {
        display: grid;
        grid-template-areas: 
            "a a b b"
            "c c c c"
            "d e f g";
        grid-gap: 0.8rem;
        margin: 5px;
    } */
}


    
@media screen and (max-width:400px) {
    .container {
        margin-left: 50px;
        margin-top: 85px;
        /* background-color: yellow; */
    }

    .personal-details h2, .postal-details h2, .account-details h2 {
        font-size: 14px;
        padding: 1px;
    }

    .prof-picture img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .cnge-btn, .sbt-btn {
        width: 100px;
        height: 22px;
        font-size: 0.7em;
    }

    .prof-picture h2 {
        margin-left: 10px;
        font-size: 14px;
    }

    .label-FName, .label-LName, .label-Email, .label-Number, .label-F-Name, .label-L-Name, .label-Address, .label-prov, .label-dist, .label-city, .label-p-code, .label-acc-Name, .label-acc-Number, .label-Bank-Name, .label-Branch-Name {
        font-size: 12px;

    }

    .my-details input[type="email"] , .my-details input[type="text"], .my-details input[type="number"]{
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .post-details input[type="email"] , .post-details input[type="text"], .post-details input[type="number"], .post-details select{
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .acc-details input[type="text"], .acc-details input[type="number"]{
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
}