/* Container for sidebar and content */
.container {
    /* position: relative; */
    top: 250px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 90px 10px 10px 10px;
    grid-auto-rows: minmax(725px,auto);
    /* grid-gap: 1rem; */
}

/* Sidebar styles */
.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    padding: 20px;
    margin-right: 0;
    overflow-y: auto; /* Add this to make the sidebar content scrollable */
}

/* Main content styles */
.prof-content, .book-shelf, .my-content {
    padding: 20px;
    background-color: #CACACA;
}


/* Profile section styles */
.profile-section {
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-name {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Menu section styles */
.menu-section {
    margin-top: 20px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    margin-bottom: 5px;
    /* border: bisque solid; */
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 10px;
    display: block;
}

.menu-list a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.menu-list li.active {
    background-color: #007bff; /* Change to the color you prefer */
    color: #fff; /* Change to the color you prefer */
}

.prof-picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 8px 0px 8px;
}

.prof-picture span {
    font-weight: 300;
    margin-top: 10px;
}

/* .prof-picture button {
    float: right;
    align-self: flex-end;
} */

.cng {
    float: right;
}

.prof-content hr {
    font-weight: 600;
}

.prof-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.prof-picture h2 {
    margin-left: 20px;
}

.cng-btn, .sbt-btn, .vw-btn {
    width: 132px;
    height: 36px;
    background-color: wheat;
    border-color: black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    margin-left: 8px;
    margin-right: 8px;
}

.cng-btn:hover, .sbt-btn:hover, .vw-btn:hover {
    background: #fff;
    color: black;
    border: none;
    transform: scale(1.1);
}


.my-details {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-areas: 
        "a a"
        "b b"; */
    grid-gap: 1rem;
    margin: 10px 25px 10px 10px;
}

.my-details input[type="email"] , .my-details input[type="text"], .my-details input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

.post-details input[type="email"] , .post-details input[type="text"], .post-details input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

.personal-details h2, .postal-details h2, .used-books h2, .exchange-books h2, .content-topic h2 {
    background-color: #81cec9;
    color: black;
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.post-details {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-areas: 
        "a a b b"
        "c c c c"
        "d e f g";
    grid-gap: 1rem;
    margin: 10px;
}

.F-Name {
    grid-area: a;
}

.L-Name {
    grid-area: b;
}

.Address {
    grid-area: c;
}

.prov {
    grid-area: d;
}

.dist {
    grid-area: e;
}

.city {
    grid-area: f;
}

.p-code {
    grid-area: g;
}

.sbt, .vw {
    margin-top: 10px;
    float: right;
}

.books {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.Book {
    width: 180px;
    height: 250px;
}

.B1, .B2, .B3, .B4, .B5 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .dts-btn {
    width: 132px;
    height: 36px;
    background-color: rgb(1, 36, 33);
    border-color: white;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    transition: .5s;
    margin-left: 8px;
    margin-right: 8px;
}

.dts-btn:hover {
    background: #fff;
    color: black;
    border: none;
} */

.search {
    float: right;
}

.search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.search button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

.search button:hover {
    background: #ccc;
}

.search img {
    height:15px;
    width:15px;
}

.mycontent table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
    margin-top: 20px;
}

.mycontent th, .mycontent td {
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
}

.mycontent th {
    background-color: #333;
    color: white;
}

.mycontent tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mycontent tr:nth-child(odd) {
    background-color: #fff;
}

.mycontent tr {
    height: 50px; /* Adjust the height as needed */
}

.mycontent tr:first-child {
    height: 60px; /* Adjust the height as needed */
}

/* Change the width of specific columns */
.mycontent th:nth-child(1), .mycontent td:nth-child(1) {
    width: 50%; /* Adjust the width as needed */
}

.mycontent th:nth-child(2), .mycontent td:nth-child(2) {
    width: 20%; /* Adjust the width as needed */
}

.mycontent th:nth-child(3), .mycontent td:nth-child(3) {
    width: 30%; /* Adjust the width as needed */
}

/* .mycontent td a {
    background-color: #007bff;
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    width: 50%;
    margin: 10px;
} */

.vd .view {
    background-color: rgb(18, 201, 18);
    text-decoration: none;
    color: black;
    border-radius: 6px;
    padding: 5px;
    display: block;
    width: 50%;
    margin: 5px;
    transition: .5s;
    text-align: center;
}

.vd .delete {
    background-color: red;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    padding: 5px;
    display: block;
    width: 50%;
    margin: 5px;
    transition: .5s;
    text-align: center;
}

.vd .view:hover {
    background-color: rgb(1, 68, 1);
    color: white;
    border: none;
    transform: scale(1.1);
}

.vd .delete:hover {
    background-color: rgb(125, 0, 0);
    color: white;
    border: black;
    transform: scale(1.1);
}

.vd {
    display: flex;
    flex-direction: row;
}



.mycart table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
    margin-top: 20px;
}

.mycart th, .mycart td {
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
}

.mycart th {
    background-color: #333;
    color: white;
}

.mycart tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mycart tr:nth-child(odd) {
    background-color: #fff;
}

.mycart tr {
    height: 50px; /* Adjust the height as needed */
}

.mycart tr:first-child {
    height: 60px; /* Adjust the height as needed */
}

/* Change the width of specific columns */
.mycart th:nth-child(1), .mycart td:nth-child(1) {
    width: 50%; /* Adjust the width as needed */
}

.mycart th:nth-child(2), .mycart td:nth-child(2) {
    width: 10%; /* Adjust the width as needed */
}

.mycart th:nth-child(3), .mycart td:nth-child(3) {
    width: 10%; /* Adjust the width as needed */
}

.mycart th:nth-child(4), .mycart td:nth-child(4) {
    width: 10%; /* Adjust the width as needed */
}

.mycart th:nth-child(5), .mycart td:nth-child(5) {
    width: 20%; /* Adjust the width as needed */
}


.notification {
    display: grid;
    margin-top: 10px;
    grid-gap: 0.5rem;
}

.notify {
    background: lightblue;
    padding: 1rem;
    border: 1px solid blue;
}
