/* Sidebar styles */
.sidebar {
    position: fixed;
    background-color: #E0E0E0;
    color: #707070;
    width: 250px;
    height: 700px;
    /* padding: 20px; */
    margin-right: 0;
    overflow-y: auto; /* Add this to make the sidebar content scrollable */
}

/* Menu section styles */
.menu-section {
    margin-top: 0px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li{
    padding-left: 5px;
    /* border: bisque solid; */
}

.menu-list a {
    text-decoration: none;
    color: #707070;
    font-size: 1em;
    padding: 10px;
    display: block;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
}

.menu-list a:hover:not(.active) {
    background-color: #70BFBA;
    color: white;
    /* border-radius: 15px; */
}

.menu-list li.active {
    background-color: #70BFBA;
    /* color: white; */
    /* border-radius: 15px; */
    border: 2px solid white;
}

.mob-sidebar {
    display: none;
}

.sidebar-img-main {
    padding: 5px;
    width: 30px;
    height: 30px;
    /* background-color: aqua; */
}


@media screen and (max-width:800px) {
    .sidebar {
        width: 200px;
    }
}

@media screen and (max-width:600px) {
    .sidebar {
        display: none;
    }
    .mob-sidebar{
        display: block;
        position: fixed;
        background-color: whitesmoke;
        width: 60px;
        height: 700px;
    
        margin-right: 0;
        overflow-y: auto; /* Add this to make the sidebar content scrollable */
    }
    .sidebar-img {
        padding: 5px;
        width: 40px;
        height: 40px;
        background-color: #E0E0E0;
        border: 2px solid blue;
    }
    .mob-section {
        padding-top: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .sidebar-img:hover{
        padding: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: wheat;
        border: 2px solid blue;
        transform: scale(1.1);
    }
    .sidebar-img.active {
        border: 2px solid white; /* You can customize the border color or any other style */
        background-color: #70BFBA;
    }
}

@media screen and (max-width:400px) {
    .mob-sidebar{
        width: 50px;
        height: 700px;
    
        margin-right: 0;
        overflow-y: auto; /* Add this to make the sidebar content scrollable */
    }
    .sidebar-img {
        padding: 4px;
        width: 30px;
        height: 30px;
        background-color: #E0E0E0;
        border: 2px solid blue;
    }
    .mob-section {
        padding-top: 4px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .sidebar-img:hover{
        padding: 4px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-color: wheat;
        border: 2px solid blue;
        transform: scale(1.1);
    }
    .sidebar-img.active {
        border: 2px solid white; /* You can customize the border color or any other style */
        background-color:#70BFBA;
    }
}