body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.ae-requestTable {
    width: 90%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ae-table-header h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #009d94;
    color: #f8f8f8;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    justify-content: center;
}

.ae-requestTable table {
    width: 100%;
    border-collapse: collapse;
}

.ae-requestTable th,
.ae-requestTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ae-requestTable th {
    background-color: #f2f2f2;
    font-size: 14px;
}

.ae-requestTable input[type="text"],
.ae-requestTable input[type="date"],
.ae-requestTable input[type="time"],
.ae-requestTable input[type="tel"],
.ae-requestTable input[type="number"],
.ae-requestTable textarea,
.ae-requestTable button,
.ae-requestTable input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.ae-requestTable textarea {
    resize: vertical;
    height: 80px;
}

.ae-requestTable button {
    background-color: #009d94;
    color: #fff;
    border: none;
    width: 200px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.ae-requestTable button:hover {
    background-color: #00726c;
}

.ae-go-back-btn {
    position: relative;
    top: 15px;
    left: 46px;
    margin-bottom: 20px;
    background-color: #70bfba;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.ae-go-back-btn i {
    margin-right: 8px;
}

.ae-go-back-btn:hover {
    background-color: #009d94;
}

.ae-drop-image-box {
    position: relative;
    width: 220%;
    height: 300px;
    border: 2px dashed #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ae-drop-image-box .placeholder-text {
    display: flex;
    align-items: center;
    /* height: 300px; */
}

#previewImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ae-drop-image-box {
    position: relative;
    width: 100%;
    height: 300px;
    border: 2px dashed #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ae-drop-image-box input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.ae-drop-image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.ae-drop-image-box:not(.has-image) .placeholder-text {
    display: block;
    opacity: 0.4;
}

.ae-drop-image-box.has-image .placeholder-text {
    display: none;
}

.ae-view-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #f3f3f3;
    cursor: pointer;
    transition: color 0.3s;
    display: none;
}

.ae-view-icon:hover {
    color: #188c7b;
}


.deadline i{
    margin-left: 2%;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 5%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.date-input-container {
    position: relative;
}

.placeholder-startD , .placeholder-endDate {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    border-radius: 10px;
    background-color: yellow;
    padding: 0 5px;
    font-size: 12px;
    display: none;
    pointer-events: none;
}

.date-input-container:hover .placeholder-startD , .date-input-container:hover .placeholder-endDate {
    display: block;
}


.edit-icon {
    cursor: pointer;
}