* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
}

header {
    background-color: #70bfba;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    padding: 6px;
    margin: 0 10px;
    font-size: 14px;
    position: relative;
}

nav a.active {
    color: rgb(255, 255, 255);
}


nav a:hover {
    color: rgb(255, 255, 255);
}

footer {
    background-color: #70bfba;
    color: white;
    padding: 20px;
    margin-bottom: auto;
    text-align: left;
}

#profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: -45px;
    margin-top: 8px;
    box-shadow: 0 0 0 4px #47837f;
    transition: box-shadow 0.3s ease;
}

#profile:hover {
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
}

footer div {
    margin-top: 0;
}

footer p {
    margin: 0;
    font-size: smaller;
    text-align: center;
}

#copyright {
    text-align: center;
    font-size: smaller;
}

#bcnd {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.85) grayscale(0);
}

.box3 {
    width: 500px;
    height: 250px;
    border: 2px solid #c7c7c7;
    display: block;
    border-radius: 10px;
}

.box1 {
    padding: 100px;
    width: 100%;
    height: 400px;
    background-color: #70BFBA;
    display: flex;
    justify-content: space-between;
}

.box2,
.box3,
.box4 {
    height: 230px;
    border: 2px solid white;
    display: block;
    border-radius: -px;
    width: 40%;
    margin-right: 10px;

}

.box2 {
    border: 1px solid white;
}

.box2 h4 {
    font-size: 14px;
}

.box3 .sublogin {
    position: absolute;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    border: #f7f7f7;
    top: 143%;
    transform: translateY(-50%);
    left: 43%;
    font-family: "Poppins";
    color: #363636;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.box3 .sublogin:hover {
    background-color: #363636;
    color: #ffffff;
    border: 2px solid white;
}


.box1 h4 {
    padding: 10px;
    color: white;
    text-align: center;
}

.box3 p {
    text-align: center;
    font-size: 14px;
}

.box1 p {
    font-size: 14px;
    padding: 10px;
    color: white;
    font-weight: 300px;
}

.box1 .box3 img {
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.box4 {
    background-color: white;
}

.box1 .box4 img {
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.box4 h4 {
    color: rgb(63, 63, 63);
    text-align: center;
    font-size: 14px;
}

.box4 p {
    background-color: #e7e7e7;
    border-radius: 30px;
    color: rgb(66, 66, 66);
    text-align: center;
    font-weight: bold;
}

.gifs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    justify-content: center;
    background-color: #70bfba;
    width: 100%;
    height: max-content;
    padding: 15px 10px 15px 10px;
    /* margin-bottom: 10px; */
}

.gift-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
}

#loc {
    height: 137px;
}

.location,
.cusSAT,
.qlty {
    text-align: left;
    margin-top: 10px;
}

.location p {
    font-size: 13px;
    color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
}

.location h4 {
    color: rgb(43, 43, 43);
}


.gifs img {
    max-width: 150px;
    height: auto;
    margin: 10px 10px;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
}

.gifs img:hover {
    transform: scale(1.1) translateZ(18px);
}

/* Table CSS Start */

.event-table {
    display: flex;
    justify-content: center;
    max-height: 700px;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    max-height: 600px;
    overflow-y: auto;
}

.container h2 {
    color: #333;
    font-size: 14px;
}

#searchInput {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 39%;
    width: 285px;
}

td {
    height: 50px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td div {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    height: auto;
    max-height: 500px;
    /* Adjust this value based on your requirement */
    overflow: hidden;
    /* This will prevent the table from becoming scrollable */

}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    height: 50px;
    width: 40px;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    width: 40px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}



.action-buttons button {
    padding: 5px 8px;
    cursor: pointer;

}

.update-button,
.em-delete-button,
.view-button {
    position: relative;
    border-radius: 50px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}


.view-button:hover {
    opacity: 1;
    background-color: #009d94;
}

.em-delete-button:hover {
    background-color: rgb(206, 0, 0);
}


#addEventBtn {
    background-color: #70bfba;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 35px;
    border: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#addEventBtn:hover {
    background-color: #4e948f;
    animation: shake 0.5s ease-in-out;
    /* Add shake animation */
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}


/* .update-button {
    background-color: #009D94;
}

.update-button:hover {
    background-color: #448b87;
} */

.em-delete-button {
    background-color: red;
}

.em-delete-button:hover {
    opacity: 0.8;
}

.view-button {
    background-color: #70bfba;
}

.em-delete-button:hover {
    opacity: 0.8;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

#updateModal,
#addEventModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.pagination li {
    margin: 0 4px;
    border-radius: 50%;
    background-color: #919191;
    color: white;
    padding: 2px 11px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination li:hover {
    background-color: #70BFBA;
}

.pagination .current {
    background-color: #70BFBA;
}

.pagination .disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #2c2c2c;
    color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #2c2c2c;
    width: 60%;
    font-family: "Poppins";
    font-size: 9px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.modal-content table :hover {
    background-color: #2c2c2c;
}

.modal-content h2 {
    color: white;
    font-size: 14px;
}

.close {
    color: #70BFBA;
    float: right;
    font-size: 24px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
    color: #ffffff;
    background-color: #009D94;
    text-decoration: none;
    cursor: pointer;
    animation: rotate360 0.5s ease-in-out;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* addevent.css */

.container {
    width: 80%;
    margin: 50px auto;
}

.container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    grid-column: span 2;
    padding: 10px;
    background-color: #009D94;
    color: white;
    border: none;
    cursor: pointer;
}



.notification-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-60%);
    padding: 5px 10px;
    transition: transform 0.3s ease;
    opacity: 0;
    pointer-events: none;

}

nav a:hover .notification-text {
    display: block;
    transform: translate(2%, -32.5px);
    color: #70BFBA;
    opacity: 0.6;

}

@keyframes bellShake {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

#bell:hover {
    animation: bellShake 0.5s ease-in-out;
}



.dropdown-content a {
    color: black;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.6s ease;
}

.dropdown-content a i {
    margin-right: 8px;
    font-size: 14px;
    transition: transform 0.6s ease;
}

.dropdown-button {
    position: relative;
    border: none;
    background: none;
    padding: 0;
}

#profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: -45px;
    margin-top: 8px;
    box-shadow: 0 0 0 4px #45807c;
    transition: box-shadow 0.3s ease;
}

#profile:hover {
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px 10px;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px 10px;
    color: rgb(19, 128, 128);
}


.dropdown-content a:hover i {
    animation: shake 0.6s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-img {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.dropdown:hover .profile-img {
    transform: translateY(-5px);
}

@keyframes profileshake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}



.em-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.em-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 355px;
    margin-left: 37%;
    margin-top: 15%;
    text-align: center;
}

.em-modal-content i {
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
}

.em-modal-content p {
    margin-bottom: 20px;
}

.em-modal-content button {
    padding: 5px 62px;
    font-size: 14px;
    background-color: white;
    color: #4e4e4e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.em-modal-content button:hover {
    background-color: red;
    color: white;
}

.em-modal-content #em-noButton:hover {
    background-color: gray;
    color: white;
}

.em-red-box {
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    color: #ff0000;
}