body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
}

.table{
  width: 1000px;
  table-layout: auto;
  height: 400px;
  margin-top: 30px;
  
}

.table td{
  text-align: center;
}

.table tr:nth-child(odd) {
  background-color: #8F9AA5;
}
.table tr:nth-child(even) {
  background-color: #BDE6E4;
}


.table th{
  background-color: whitesmoke;
  padding: 15px;
  
}

.table tr {
  padding: 10px 0; /* Adjust the desired top and bottom padding */
}

.navigation{
  margin-top: 150px;
  padding-right: 1200px;
}

.navigation a{
  text-decoration: none;
}

.navigation span{
  color: #00736C;
}

button{
  text-decoration: none;
  background-color: #01322F;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border-style: none;

}

.addButton{
  margin-top: 50px;
  padding-left: 900px;
}





