body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #01322F;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #00FFF0;
    text-decoration: underline;
}

.content {
    padding: 20px;
}