.body {
    margin-top: 90px;
    margin-left: 120px;
}
.container{
    margin: 20px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 20px;
}
.chat-pub{
    display:flex;
    justify-content: space-between;
    border-radius: 6px;
    margin: 5px;
    padding:10px;
    background-color: aliceblue;

}
/* .chat-pub a{
    margin-top: 5px;
    padding:10px;
    background-color: #009D94;
    color: #ddd;
    border-radius: 5px;
} */
.search-bar {
    margin: 20px;
    width: 70%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('<?php echo URLROOT; ?>/assets/images/publisher/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 35px;
}

.search-bar:focus {
    border: 2px solid #009D94;
}

.head {
    display: flex;
    flex-wrap: wrap; /* Allow for wrapping on smaller screens */
    justify-content: space-between;
}

.head button {
    margin-top: 20px;
    margin-left: 0; /* Adjusted margin for responsiveness */
    margin-right: 0;
}

.head1 h4 {
    color: #09514C;
    font-size: 20px;
}

.head button:hover {
    background-color: #09514C;
}

.chat {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
    border-radius: 5px;
}

th h4 {
    font-size: 14px;
    color: #09514C;
}

th p {
    font-size: 9px;
}

tr {
    background-color: #add8e6;
    border-radius: 5px;
}

tr:hover {
    background-color: #c0ffef;
    border-radius: 5px;
}

.view,
.delete {
    display: block;
    width: 80px;
    height: 40px;
    padding: 7px;
    text-align: center;
    margin: 5px; /* Added margin for spacing between buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1, 1);
}

.view:hover,
.delete:hover {
    transform: scale(1.1, 1.1);
}
.go-back-link{
    text-decoration: none;
    color:#009D94;
    margin-left: 100px;
  }
  .go-back-link:hover{
    text-decoration: none;
    color:#09514C;
    margin-left: 100px;
  }

/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        margin-left: 0;
    }

    .search-bar {
        width: 100%;
    }

    .head button {
        margin-left: 5px;
        margin-right: 5px;
    }

    .view,
    .delete {
        width: 100%;
    }
}
