.sub-nav{
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.search{
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  border-bottom: 2px solid rgb(112, 191, 186);
  outline: none;
  background-color:#e3f2fd ;
  font-size: large;
}

button{
  border-style: none;
  border-radius: 4px;
  background-color: #009D94;
  color: white;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.table-head{
  font-weight: 100px;
  font-size: x-large;
  color: #333333;
}

.table-container{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

table{
  margin-top: 20px;
  margin-bottom: 30px;
  border-collapse: collapse; 
  border-spacing: 0 3px;
  width: 100%;
  border-style: none;
  height: 100%;
  border-radius: 5px;
  background: rgb(112, 191, 186, 25%);
}

tr{
  text-align: left; /* Adjust the desired top and bottom padding */
  
  border-radius: 15px;
  border-top: 1px solid rgb(112, 191, 186, 50%);
}

tr:first-child {
  border: none;
}

td{
  text-align: center;
  padding: 15px;
}

th{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(112, 191, 186, 50%);
}

td img{
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

#large-poster-view{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

#large-event-poster{
  padding: 24px;
  max-width: 100%;
  max-height: 100%;
}

#close-button{
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}


