body {
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;  /* Updated to flex container */
    flex-direction: column;  /* Stack items vertically on smaller screens */
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    margin-left: 200px;
}

.topic {
    margin-top: 45px;
    margin-left: 5%;
    margin-bottom: 5px;
}

.head h2 {
    font-size: 25px;
    padding-bottom: 5px;
    color: #009D94;
}

.head p {
    font-size: 18px;
    color: #01322F;
    padding-bottom: 8px;
}

.drop input {
    border-radius: 5px;
    width: 150px;
}

.summary {
    margin-top: 70px;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    background-color: #f4f4f4;
    border: none;
    border-radius: 6px;
    width: 100%;  /* Adjusted to full width for responsiveness */
    max-width: 160px;  /* Set max-width to control box width */
    height: 90px;
    transform: scale(1.8, 1.8);
    z-index: -1;
    padding: 10px;
    margin-bottom: 10px;  /* Added margin for responsiveness */
}

.box:hover {
    transform: scale(1.9, 1.9);
    background-color: #009D94;
    color: white;
    z-index: -1;
}

.box h2:hover {
    color: white;
}

.box h2 {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 20px;
}

.value {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.chart {
    width: 100%;  /* Adjusted to full width for responsiveness */
    max-width: 600px;
    height: 600px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.charts {
    margin-top: 45px;
    margin-left: 5%;
    margin-bottom: 5px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .dashboard {
        margin-left: 0;
    }

    .topic,
    .summary,
    .charts {
        margin-left: 5%;
    }

    .box,
    .chart {
        max-width: 100%;
    }
}
