body {
    margin-top: 90px;
    font-family: Arial, sans-serif;
}


.div_table {
    margin-left: 250px;
    margin-right:50px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    /* background-color: #009D94; */
    color: black;
}

tr {
    background-color: #70BFBA;
}

tr:hover {
    background-color: gray;
    color:black;
}