body {
    margin-top: 90px;
    font-family: Arial, sans-serif;
}


.div_table {
    margin-left: 250px;
    margin-right:50px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    /* background-color: #009D94; */
    color: black;
}

tr {
    background-color: #70BFBA;
}

tr:hover {
    background-color: gray;
    color:black;
}
.go-back-link{
    text-decoration: none;
    color:#009D94;
    margin-left: 100px;
  }
  .go-back-link:hover{
    text-decoration: none;
    color:#09514C;
    margin-left: 100px;
  }
  .search-container1{
    margin-left: 930px;
    margin-top: 50px;
  }
  .search-bar {
   
    margin-bottom: 10px;
    width:30%;
    box-sizing: border-box;
    border:none;
    border-radius: 0;
    font-size: 16px;
    background-color: white;
    background-image: url('<?php echo URLROOT; ?>/assets/images/publisher/search.png');
    background-size: 20px; /* Set the size of the icon */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding:10px;

}
.search-bar:focus{
    background-color: #ddd;
    /* border:#009D94; */
}
.search-button{
    width:300px;
    border-radius: 0;
    background-color: #009D94;
    color:#ddd;
    border: #009D94;
    margin-left: 0;
    padding:10px;

}
.search-button:hover{
    background-color: aqua;
    color:#09514C;


}
.order-container{
    margin-top:10px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px;
    background-color: white;
    padding:10px;

}
.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust the margin as needed */
   
    padding: 10px;
}

.col1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:20px; */
    /* flex: 0 0 180px;  */
}

.col1 img {
   padding:10px;
} 

.col2 {
    flex: 1; /* Allow col2 to take up remaining space */
    padding-left: 50px; /* Add padding to separate col1 and col2 */
}

@media only screen and (max-width: 768px) {
    .div_table {
        margin-left: 0;
        margin-right: 0;
    }
  
    tr {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
  
    th {
        text-align: center;
    }
  
    .btn-container {
        justify-content: center; /* Center the button */
    }

  }