/* .form {
  display: flex;
  padding: 150px;
  justify-content: center;
}


.grid-container {
  display: flex;
  flex-direction: column;
  background-color: #E2E2E2;
  padding: 50px;
  border-radius: 50px;
  width: 400px;
  height: 500px;
}

.grid-container label,
.grid-container input {
  margin: 5px; 
  width: 100%; 
}


 #description{
  width: 300px;
  height: 150px;
  border-style: none;
  border-radius: 10px;
 }

 #category{
  border-style: none;
  border-radius: 10px;
  height: 30px;
 }

 button{
  margin: 50px;
  text-decoration: none;
  background-color: #01322F;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border-style: none;
 }

 .navigation{
  margin-top: 150px;
  padding-right: 1200px;
  padding-left: 15px;
}

.navigation a{
  text-decoration: none;
}

.navigation span{
  color: #00736C;
} */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-grid {
  display: flex;
  flex-direction: row;
  width: 100%; 
  /* max-width: 600px;  */
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
} 

input,
select,
textarea {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(59, 59, 59);
    height: 40px;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
}

#picture{
  border-style: none;
}

button {
  background-color: #009D94;
  height: 40px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  font-size: 14px;
}
