body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e3f2fd;
}

.table{
  border-collapse: seperate; 
  border-spacing: 0 3px;
  width: 100%;
  border-style: none;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(224,224,224,1) 0%, rgba(112,191,186,1) 35%, rgba(0,157,148,1) 100%);
  margin-top: 10px;
}

.table td{
  text-align: center;
  padding: 15px;
  background-color: #fefefe;
}

.table th{
  padding: 15px;
  text-align: center;
}

.table tr {
  text-align: left; /* Adjust the desired top and bottom padding */
  
  border-radius: 15px;
}

.table-container{
  display: flex;
  margin-left:10px;
  margin-right:10px;
  padding-top: 200px;
}

.container-column{
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
  border-radius: 4px;
  flex: 1;
  padding: 30px 30px 50px 30px;
  margin: 2%;
  /*flex: 50%;
  padding: 25px;
  padding-bottom: 100px;
  border-right: 5px;
  box-shadow: 3px 5px 15px 5px rgb(91, 100, 103);*/
}

.above-table{
  display: flex;
}

h3{
  width: 105px;
}

.btn{
  text-decoration: none;
  background-color: #01322F;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  border-style: none;
  margin-left: 350px;

}


.fa{
  color: rgb(177, 48, 48);
  font-size: 20px;
}

.fa-pen{
  padding-right: 20px;
  color: #70BFBA;
}






