@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  background-color: #e3f2fd;
  background-size: cover;
  background-position: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-top: 125px;
  gap: 100px 50px;
}
.grid-item {
  background-color: rgb(112, 191, 186, 25%);
  padding: 20px;
  font-size: 20px;
  text-align:left;
  border-radius: 10px;
  text-decoration: none;
  height: 100px;
  width: 300px;
}

.grid-item a{
  text-decoration: none;
  color: black;
  text-align: center;
}

.fa-book{
  color: darkcyan;
  font-size: x-large;
}

.fa-address-book{
  color: orchid;
  font-size: x-large;
}

.fa-heart{
  color: red;
  font-size: x-large;
}

.fa-list{
  color: lightsalmon;
  font-size: x-large;
}

.table-container{
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

table{
  margin-top: 20px;
  margin-bottom: 30px;
  border-collapse: collapse; 
  border-spacing: 0 3px;
  width: 100%;
  border-style: none;
  height: 100%;
  border-radius: 5px;
  background: rgb(112, 191, 186, 25%);
}

tr{
  text-align: left; /* Adjust the desired top and bottom padding */
  
  border-radius: 15px;
  border-top: 1px solid rgb(112, 191, 186, 50%);
}

tr:first-child {
  border: none;
}

td{
  text-align: center;
  padding: 15px;
}

th{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(112, 191, 186, 50%);
}

.fa-eye{
  padding: 5px;
  font-size: x-large;
  color: #009D94;
}

button{
  border-style: none;
  border-radius: 4px;
  background-color: #009D94;
  color: white;
  height: 30px;
  width: 65px;
}

.chart-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0px 30px;
}

.chart{
  height: 300px;
  width: 500px;
}
