body{
    margin-left: 230px;
    margin-right: 40px;
  
  }
  .chart-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }
  .chart{
    height: 200px;
    width:900px;
    max-height: 200px;
    padding-left:70px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 2px 2px 3px 3px #aaaaaa;
    border-radius: 4px;
  }
.img-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 20px;
    /* margin-left: 230px; */
    /* margin-right: 40px; */
  
  }
  .image{
    width:900px;
    
    padding: 20px;
    height: 150px;
    max-height: 150px;
    margin-bottom:50px;
  }
  .profile{
    height: 200px;
    width:900px;
    max-height: 150px;
    padding-left:50px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 2px 2px 3px 3px #aaaaaa;
    border-radius: 4px;
    

  }
  .profile h2 ,p{
    align-items:center ;
    color: #009D94;
    padding-top:10px ;
    padding-left: 40px;
  }
  @keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
  }
  .wave-icon {
    font-size: 50px; /* Increase hand size */
    color:#009D94; /* Change hand color */
    display: inline-block;
    animation: wave 2s infinite;
    cursor: pointer;
  }
.table-container{
    background-color: white;
    width: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    max-height: 500px;
    overflow-x: auto;
    margin-bottom: 30px;
    /* margin: 30px; */
  }
  
  .table-head{
    font-weight: 100px;
    font-size: x-large;
    color: #333333;
  }
  td {
    height: 50px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td div {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    height: auto;
    max-height: 500px; /* Adjust this value based on your requirement */
    overflow: hidden; /* This will prevent the table from becoming scrollable */

}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    height: 30px;
    width: 40px;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    width: 40px;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}
