
body{
    margin-top:90px;
    margin-left:100px;
    margin-right:80px;
 
 }
 .search-bar {
     width: 70%;
     box-sizing: border-box;
     border:none;
     border-radius: 4px;
     font-size: 16px;
     background-color: white;
     background-image: url('<?php echo URLROOT; ?>/assets/images/publisher/search.png');
     background-position: 10px 10px; 
     background-repeat: no-repeat;
     padding: 10px 20px 10px 35px;
   }
 .search-bar:focus{
     border: 2px solid  #009D94;
 }
 .head{
     display:flex;
     justify-content:space-between;
 }
 .head button {
     display: block;
     margin-top: 20px;
     margin-left: 800px;
     margin-right: 60px;
     padding: 10px;
     background-color: #009D94;
     color: white;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
 .head1 h4{
     color:#09514C;
     font-size:20px;
 }
 .head button:hover {
     background-color: #09514C;
 } 
 .chat{
     margin-top:10px;
 }
 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     margin-right:60px;
     
 }
 
 th, td {
     padding: 10px;
     text-align: left;
     border-bottom: 1px solid #ddd;
     color: black;
     border-radius:5px;
 
 }
 
 
 
 th h4{
     font-size:14px;
     color:#09514C;
 
 }
 th p{
     font-size:9px; 
 }
 
 /* tr:nth-child(odd) {
     background-color: #c0ffef; 
     border-radius: 5px;
 } */
 
 tr {
     background-color: #add8e6; 
     border-radius: 5px;
 }
 tr:hover {
     background-color: #c0ffef; 
     border-radius: 5px;
 }
 
 .view{
     display: block;
     width:80px;
     height:40px;
     padding: 7px;
     background-color: blue;
     color: white;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transform:scale(1,1);
 
 }
 .view:hover{
     background-color: blue;
     transform:scale(1.1,1.1);
 
 }
 
 .delete{
     display: block;
     width:80px;
     height:40px;
     padding: 7px;
     background-color: red;
     color: white;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transform:scale(1,1);
 
 
 }
 .delete:hover{
     background-color: red;
     transform:scale(1.1,1.1);
 
 }
 
 
 