body {
    /* background-image: url('../images/publisher/landing.jpg'); */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.div_table {
    margin-left: 100px;
   
}

table {
    align-items: center;
}

table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 40px;
    background-color:#CCCCCC ;
}
@media only screen and (max-width: 768px) {
    .div_table {
        margin-left: 0;
        margin-right: 0;
    }
  
    tr {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
  
    th {
        text-align: center;
    }
  
    .btn-container {
        justify-content: center; /* Center the button */
    }
  }