.userRequest {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Poppins";
}

.requestTable {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Rtable-header h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #188c7b;
    color: #f8f8f8;
    border-radius: 2px;
    width: 100%;
    height: 25px;
    justify-content: center;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height: 10px;
    overflow: hidden;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
    font-size: 14px;
}

tbody tr {
    height: 10px;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.additionalInfo {
    max-height: 10px;
    overflow: hidden;
    background-color: transparent;
}

.status {
    max-width: 100px;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.status:hover {
    color: darkgray;
}

.status:hover i {
    transform: scale(1.3);
    transition: 0.2s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.7);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: -9px;
    right: -9px;
    height: 25px;
    width: 25px;
    background-color: #a1a1a1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    color: #ffffff;
}

.close-btn:hover {
    background-color: #188c7b;
    color: white;
}

.popup-buttons {
    margin-top: 20px;
}

.popup-button {
    padding: 10px 20px;
    margin: 0 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #188c7b;
    color: #fff;
    font-weight: bold;
}

#viewNow,
#ignoreNow {
    width: 100px;
}

.popup-button:hover {
    background-color: #096154;
}

.popup-buttons button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-all-button {
    padding: 5px 10px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #188c7b;
    color: #fff;
    font-weight: bold;
    display: block;
    height: 25px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.view-all-button:hover {
    background-color: #209684;
}

.user-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-common-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 1px;
    background-color: #096154;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: wave 1.5s infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.user-common-details p {
    margin: 0;
    padding: 0;
}

.user-common-details p:not(:last-child) {
    margin-right: 20px;
}

.phone-icon {
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.phone-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.contact-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #fefefe;
    padding: 20px;
    /* Increased padding */
    border: 1px solid #888;
    width: 30%;
    max-width: 250px;
    /* Adjusted width */
    text-align: center;
    font-size: 14px;
    /* Reduced font-size */
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    z-index: 1;
    /* Ensure it's above other content */
}

.close-icon:hover {
    color: #333;
}

.contact-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-modal-content button,
.contact-modal-content a {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-modal-content button:hover,
.contact-modal-content a:hover {
    background-color: #e0e0e0;
}

.message-icon {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-bottom: 10px;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* body {
    overflow: hidden;
} */

.close-icon {
    position: absolute;
    top: -8px;
    right: -10px;
    cursor: pointer;
    color: #ffffff;
    background-color: #096154;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 18px;
}

.close-icon:hover {
    color: #096154;
    background-color: white;
}

.user-email-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.user-email-link:hover {
    text-decoration: underline;
}