* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Header */
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #02514C;
    align-items: center;
    z-index: 100;
}

.head img {
    height: 65px;
    width: 84px;
    margin-left: 8px;
    margin-right: 8px;
}



/* Navigation Bar */
.navig{
    display: flex;
    justify-content: flex-end;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



/* Login Icon */
.Login {
    width: 88px;
    height: 50px;
    background-color: transparent;
    border-color: #03FFF0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #03FFF0;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    margin-left: 8px;
    margin-right: 8px;
}

.Login:hover {
    background: #fff;
    color: black;
    border: none;
    transform: scale(1.1);
}



/* Style for the hero section */
.hero {
    background: url(/assets/img/hero.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0;
    /* justify-content: end; */
}

.sing-up_btn{
    position: relative;
    top: 600px;
    right: 480px;
    margin-right: 10px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
}

.login_btn{
    position: relative;
    top: 600px;
    right: 460px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
}

.sing-up_btn:hover, .login_btn:hover {
    background: #fff;
    color: black;
    transform: scale(1.1);
}

.content {
    background-color: transparent;
    text-align: center;
    padding: 50px 0;
    border-radius: 20px;
    padding: 10px;
    margin-top: 280px;
    margin-left: 50PX;
}

.content h2 {
    font-size: 100px;
}

.content h3 {
    font-size: 50px;
    margin-top: 10px;
}

.content p {
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 30px;
}



/* Style for the Services Section */
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, 250px);
    grid-gap: 2rem;
    margin: 50px 150px 50px 150px;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 15px;
}


/* Style for each section */
.service {
    background-color: white;
    text-align: center;
    padding: 50px 0;
    border-radius: 20px;
    padding: 10px;
}

.service img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.service h3 {
    font-size: 24px;
    margin-top: 10px;
}

.service p {
    font-size: 18px;
    display: none;
}

.service:hover {
    transform: scale(1.1);
    transition: transform .5s;
    background-color: gray;
}

.service:hover p {
    display: block;
}

.our_ser h2 {
    margin: 50px;
    font-size: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: white;
}

.our_ser h2 span {
    background-color: #066761;
    padding: 15px 15px;
    border-radius: 25px;
}

h2:before, h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 5px solid #009D94;
    margin: auto;
}



/* Style for the footer */
footer {
    background-color: #01322F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Style for the footer content */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the footer logo */
.footer-logo img {
    height: 65px;
    width: 84px;
    margin-left: 8px;
    margin-right: 8px;
}

/* Style for the footer links */
.footer-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links li {
    margin-right: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

/* Style for the footer text */
.footer-text {
    margin-top: 20px;
    font-size: 14px;
}