/*Start Global Style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* body */
body{
    background:#73cbc7;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: sans-serif;
}
.password-wrapper {
    position: relative;
  }
  
  .password-wrapper i {
    position: absolute;
    top: 32%;
    right: 10px;
    transform: translateY(-50%); /* Vertically center the icon */
    cursor: pointer;
  }
  /* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Fix the size and hide overflow */
    backdrop-filter: blur(5px); /* Add blur for glass effect */
  }
  
  
  .modal-content {
    background-color: #fefefe;
    /* margin-top: 2px;; */
    margin: 6% auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
  
  .close {
    color: #009D94;
    float: right;
    font-size: 24px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .close:hover,
  .close:focus {
    color: #ffffff;
    background-color: #009D94;
    text-decoration: none;
    cursor: pointer;
    animation: rotate360 0.5s ease-in-out;
  }
  .confirm{
    padding: 10px 20px;
    background-color: #009D94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
/* ..... */
/* container */
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    height:100%
}

.login ,.register{width: 50%}


/********************************************/
/*Login Page*/
/*Login Style*/
.login{
    float:right;
    background-color: #fafafa;
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding: 50px;
}

.login h1{
    margin-bottom: 30px;
    font-size: 2.5em;
}

input[type="email"] , input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

input[type="checkbox"]{
    float: left;
    margin-right: 5px;
}

.login span{
    float: left
}
.invalid-feedback{
    background-color:white;
    color: red;
    padding-left: 15px;
    padding-right: 15px;
    padding:5px;
}
.login a{
    float: right;
    text-decoration: none;
    color: #000;
    /* transition: 0.3s all ease-in-out; */
}

.login a:hover{
    color: #02514C;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform .5s;
}

.btn{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: none;
    background-color: #009D94;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}

.btn:hover{
    width:97%;
    font-size: 22px;
    background-color: #02514C;
    font-weight: 500;
}

.connect h4 {
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    font-weight: normal;
}

.connect h4 span {
    padding: 15px 15px;
}

h4:before, h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid black;
    margin: auto;
}
/* 
.login .copyright{
    display: inline-block;
    float: none;
    margin-top: 20px;
}

.login img {
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.login img:hover {
    height: 54px;
    width: 54px;
    background-color: rgb(238, 228, 228);
    border-radius: 10px;
}
 */

/*Register Style*/
.register{
    float: left;
    background-image: linear-gradient(135deg, #02514C 5%, #009D94 95%);
    height: 100%;
    width: 50%; 
	color:#fff;
    border-radius:  0 10px 10px  0;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.back-btn-div-login {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-btn-login {
    background-color: transparent;
    border: 3px solid #03FFF0;
    border-radius: 20px;
    padding: 5px 10px;
    color: #03FFF0;
    font-size: 16px;
    text-transform: uppercase;
    transition:0.5s all  ease-in-out;
    outline: none;
}

.back-btn-login:hover{
    color: black;
    background-color: #fff;
    cursor: pointer;
    border: none;
    transform: scale(1.05);
}

.register img {
    height: 130px;
    width: 168px;
    margin-top: 0;
}

.register h2{
    margin-bottom: 30px;
    font-size: 80px;
}

.register h3{
    margin-top: 15px;
    font-size: 40px;
}

.register p{
    font-size: 18px;
    margin: 10px 30px 70px 30px;
}

.register-button{
    background-color: transparent;
    border: 3px solid #03FFF0;
    border-radius: 20px;
    padding: 10px 20px;
    color: #03FFF0;
    font-size: 20px;
    text-transform: uppercase;
    transition:0.5s all  ease-in-out;
    outline: none;
}

.register-button:hover{
    color: black;
    background-color: #fff;
    cursor: pointer;
    border: none;
    transform: scale(1.1);
}
/********************************************/



/********************************************/
/*RegisterCategory Page*/
.types{
    display: flex;
    flex-direction: column;
}

.ctg{
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border: none;
    background-color: #009D94;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 30px;
}

.ctg:hover{
    width:97%;
    font-size: 22px;
    background-color: #02514C;
    font-weight: 500;
}
/********************************************/



/********************************************/
/*SignUp Page*/
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

.is-invalid {
    border: 1px solid red;
}
.invalid-feedback {
    color: red;
    font-size: 14px;
    display: block; 
    text-align: center;/* Changed to block for span elements to appear on a new line */
}

