@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

/*Start Global Style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* body */
body {
    background: #73cbc7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif
}

.invalid-feedback{
    background-color:white;
    color: red;
    padding-left: 15px;
    padding-right: 15px;
    padding:5px;
}
/* container */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 100%
}

.login,
.register {
    width: 50%
}


/********************************************/
/*Login Page*/
/*Login Style*/
.login {
    float: right;
    background-color: #fafafa;
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding: 100px;
}

.login h1 {
    margin-bottom: 40px;
    font-size: 24px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

input[type="checkbox"] {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}

.login span {
    float: left
}

.login a {
    float: right;
    text-decoration: none;
    color: #1a1a1a;
}

.login a:hover {
    color: #02514C;
    font-weight: bold;
}

.password-wrapper {
    position: relative;
}

.password-wrapper i {
    position: absolute;
    top: 32%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.register a button{
    background-color: transparent;
    border: 3px solid #03FFF0;
    border-radius: 20px;
    padding: 10px 20px;
    color: #03FFF0;
    font-size: 20px;
    text-transform: uppercase;
    transition:0.5s all  ease-in-out;
    outline: none;
}

.register a button:hover{
    color: black;
    background-color: #fff;
    cursor: pointer;
    border: none;
    transform: scale(1.1);
}

.btn {
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    background-color: #009D94;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}

.btn:hover {
    background-color: #02514C;
}

.connect h4 {
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    font-weight: normal;
}

.connect h4 span {
    padding: 15px 15px;
}

h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid black;
    margin: auto;
}

.login .copyright {
    display: inline-block;
    float: none;
    margin-top: 20px;
}

.login img {
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.login img:hover {
    height: 54px;
    width: 54px;
    background-color: rgb(238, 228, 228);
    border-radius: 10px;
}


/*Register Style*/
.register {
    float: left;
    background-image: linear-gradient(135deg, #02514C 5%, #009D94 95%);
    height: 100%;
    width: 50%;
    color: #fff;
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: 100px 0;
}

.register img {
    height: 120px;
    width: auto;
    margin-top: -80;
}

.register h2 {
    margin-bottom: 18px;
    font-size: 80px;
}

.register h3 {
    margin-top: 20px;
    font-size: 35px;
}

.register p {
    font-size: 15px;
    margin: 10px 10px 90px 30px;
}


.button-container {
    display: flex;
    justify-content: center;
    position: relative;
}



.btn-con-log {
    width: 100%;
    margin: 50px 0;
    padding: 15px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all linear;
    border-radius: 15px;
}

.btn-con-log:hover{
    width: 110%;
    background-color: white;
    color: #1a1a1a;
    font-size: 16px;
    border: 1px solid black;
}


/********************************************/



/********************************************/
/*RegisterCategory Page*/
.types {
    display: flex;
    flex-direction: column;
}

.ctg {
    width: 80%;
    margin: 15px 0;
    padding: 12px;
    border: none;
    background-color: #009D94;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all linear;
    border-radius: 15px;
}

.ctg:hover {
    width: 80%;
    background-color: #007e77;
    font-size: 16px
}

/*******************************************



/********************************************/
/*SignUp Page*/
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
    border-radius: 5px;
}

/********************************************/