.subNav{
  display: flex;
  margin-top: 120px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.search-bar{
  margin: 10px;
  padding: 5px;
}

.search{
  padding: 5px;
  border: 2px solid #009D94;
  border-radius: 5px;
  width: 400px;
}

.reviewNav{
  display: flex;
  flex-direction: row;
}

.reviewType{
  margin: 5px;
}

.reviewType a{
  text-decoration: none;
  color: #009D94;
  font-size: large;
}

.reviewTypeActive{
  margin: 5px;
}

.reviewTypeActive a{
  text-decoration: none;
  color: crimson;
  font-size: large;
}

.table-container {
  width: 90%;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0.1, 0.1, 0.1, 0.1);
}
th, td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: #f5f5f5;
}
tr:nth-child(even) {
  background-color: #fafafa;
}
tr:hover {
  background-color: #f0f0f0;
}
td img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
button {
  padding: 5px 10px;
  background-color: #009D94;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #00645f;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Fix the size and hide overflow */
  backdrop-filter: blur(5px); /* Add blur for glass effect */
}

.modal-content {
  background-color: #2c2c2c;
  color: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  width: 50%;
  font-family: "Poppins";
  font-size: 9px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Add overflow for content scrolling */
}

/* .modal-content table :hover {
  background-color: #2c2c2c;
} */

.modal-content h2 {
  color: white;
  font-size: 14px;
}

.close {
  color: #009D94;
  float: right;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  color: #ffffff;
  background-color: #009D94;
  text-decoration: none;
  cursor: pointer;
  animation: rotate360 0.5s ease-in-out;
}

.modal h2{
  color: yellow;
}

.modal-content a button{
  margin: 5px;
  padding: 5px 10px;
  background-color: #009D94;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes rotate360 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* pagination */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.pagination li {
  margin: 0 4px;
  border-radius: 50%;
  background-color: #919191;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination li:hover {
  background-color: #00645f;
}

.pagination .current {
  background-color: #00645f;
}

.pagination .disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}


