.sub-nav{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
}

.sub-nav button{
  padding: 10px;
  font-size: medium;
  background-color: #009D94;
  border-radius: 5px;
  border-style: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sub-nav button:hover {
  transform: scale(1.1);
}

.top-contents{
  display: flex;
  flex-direction: column;
}

.top-contents img{
  width: 10%;
}

.content{
  display: flex;
  flex-direction: row;
  margin: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  padding: 10px;
}

.content-number {
  background-color: #009D94;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


.content-description h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.content-description span {
  font-size: 14px;
  color: #666;
}

.content-description button {
  background-color: #006E68; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.content-description button:hover {
  background-color: #006e689c;
}

.content:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

