.scoreboard{
  margin-top: 100px;
}

.topic{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.fa-trophy{
  padding: 5px;
  font-size: medium;
  color: #009D94;
}

.table-container {
  display: flex;
  background-color: white;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  max-height: 600px;
  overflow-y: auto;
  margin-left: 100px;
}

.table-container button{
  padding: 5px;
  background-color: #009D94;
  border-style: none;
  color: white;
  border-radius: 5px;
  transition: transform 0.3s;
}

.table-container button:hover{
  transform: scale(1.1);
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  height: auto;
  max-height: 500px; /* Adjust this value based on your requirement */
   /* This will prevent the table from becoming scrollable */

}

td {
  height: 50px;
  /* max-width: 150px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  height: 30px;
  width: 40px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  width: 40px;
}

.action-btn{
  background-color: #009D94;
  padding: 5px;
}

th {
  background-color: #f2f2f2;
  
}

tr:hover {
  background-color: #f5f5f5;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Fix the size and hide overflow */
  backdrop-filter: blur(5px); /* Add blur for glass effect */
}

.modal-content {
  background-color: #2c2c2c;
  color: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  width: 50%;
  font-family: "Poppins";
  font-size: 12px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Add overflow for content scrolling */
}

/* .modal-content table :hover {
  background-color: #2c2c2c;
} */

.modal-content h2 {
  color: white;
  font-size: 14px;
}

.modal-content button{
  padding: 5px;
  background-color: #009D94;
  border-style: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  transition: transform 0.3s;
}

.modal-content button:hover{
  transform: scale(1.1);
}

.modal-content span{
  font-size: medium;
}

#large-event-poster{
  display: flex;
}

.close {
  color: #009D94;
  float: right;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  color: #ffffff;
  background-color: #009D94;
  text-decoration: none;
  cursor: pointer;
  animation: rotate360 0.5s ease-in-out;
}

#fullDescription{
  font-size: medium;
}

.modal h1{
  color: yellow;
}

@keyframes rotate360 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}